<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ghellu</title>

    <link rel="stylesheet" href="/public/styles/styles.css" type="text/css">
    <script src="/public/scripts/app.js"></script>

</head>
<body>
    <nav>
        <button id="exit">Exit</button>
        <div id="userName">defaultUser</div>
        <div id="badge">X</div>
        <div id="score">Your Score: 0</div>
    </nav>
<div class="quiz-container">
    <div class="options col">
        <button id="btn0"><span id="choice0">Default 1</span></button>
        <button id="btn1"><span id="choice1">Default 2</span></button>
        <button id="btn2"><span id="choice2">Default 3</span></button>
        <button id="btn3"><span id="choice3">Default 4</span></button>
    </div>
        <div class="question col" id ="question"><span id="initQuestion">What is so miserable a thing as man?</span></div>
        <button class="checkbtn">Check</button>
</div>
</body>
</html>