<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ghellu</title>
    <link rel="stylesheet" href="./styles/styles.css" type="text/css">
</head>
<body>
    <nav>
        <button id="exit">Exit</button>
        <div>Badge</div>
        <div>Score</div>
    </nav>

    <main>
      <div class="playground">
        <div class="row">
        <button class ="answers"></button>
        <button class ="answers"></button>
    </div>
    <div class="row">
        <button class ="answers"></button>
        <button class ="answers"></button>
    </div>
        <div class="question" id ="question"></div>
    </div>
    <button class="checkbtn">Check</button>
    </main>
</body>
</html>