<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing Page</title>
     <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="./styles/landingpage.css" type="text/css">
  <!-- VENDOR SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

  <!-- APPLICATION SCRIPTS -->
 <script src="/scripts/app.js"></script>
  
</head>
<body>
    <nav>
        <button id="exit">Sign Out</button>
        <div id="badge">Badge</div>
        <div id="score">Score</div>
    </nav>
    <main>

        <button>Game Time</button>
        <button>Levels</button>
        <div  class="review">
<textarea name="" id="" cols="55" rows="5"></textarea>

<button class="createbtn">We would like u to *JUDGE* us plzz</button>

<img src="./images/ready.gif" alt="">
</div>
    </main>
</body>
</html>