
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="google-signin-scope" content="profile email">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <meta name="google-signin-client_id" content="349426020456-eg05at3orgftnd83tn4974m2napi5jes.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer> </script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

    <!-- <script> 
    gapi.load ('auth2', function(){
        gapi.autho2.init();
     });</script> -->
     <style>
     .g-signin2{
         margin : 400px 200px 0 500px;
     }
     
     </style>
  </head>
  <body>
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    
   <script>
    //  gapi.load ('auth2', function(){
    //     gapi.autho2.init();
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
      }
    // }
    </script>
  </body>
</html>
