body{
    margin:20px;
}

nav{
margin : 20px;
width: 100%;
background-color: purple;
padding: 35px;
font-size: 20px;
display: flex;
}
/* .row{
    width : 60%;
} */
nav button , div{
    margin: 0 25px; 
}
.answers{
    padding: 25px;
    width: 250px;
    height: 250px;
    margin: 20px;
   
}
.answers:hover{
    box-shadow: 0 28px 26px -2px blue;
}
#question{
    width: 38%;
    height: 450px;
    border-radius: 60%;
    background-color: blue;
    float: right;
    top: -488px;
    position:relative;
    
    
}

@media (max-width:760px){
    .playground{
        display: flex;
        flex-direction: column;
    }
    #question{
        width: 250px;
        height: 250px;
        border-radius: 20px;
        background-color: blue;
        float: right;
        top: -338px;
        /* position:absolute; */
        
    }
}