body {
<<<<<<< HEAD
    margin: 0;
=======
    margin:20px;
    background-color: 	#C0C0C0
>>>>>>> 37bf3ed74d2530c992d74a2b170da4926e929681
}

nav {
    width: 100%;
    display: flex;
    background-color: purple;
    padding: 1rem;
}

nav div {
    text-align: center;
    padding: 0 .5rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.options {
    width: 49%;
    display: grid;
    float: left;
}
#btn0, #btn1, #btn2, #btn3 {
    
    display: block;
}
.question {
    display: grid;
    width: 49%;
    float: right;
    height: 100%

}


.checkbtn {
    display: block;
    width: 100%
}

.quiz-container {
    width: 500px;
    margin: 0 auto;
    padding-top: 50px;
}